<!-- Banner -->
  <section id="banner" style="padding-top: 1.5em;">
    <div class="content">
      <header>
        <h2 style="font-size: 25pt; margin-bottom: 10px;" title="Le meilleur jeu jamais inventé est Half-Life">Bonjour jeune éphèbe!</h2>
      </header>
      <p>I am Alexandre VESSEREAU! I know; the website is a mess, I just copied the template. Currently fixing it and being reminded that I hate CSS and HTML! </p>
      <ul class="actions" style="font-size: smaller;">
        <li><a href="{{ 'resume' | absolute_url  }}" class="button icon fa-file-text">Resume</a></li>
        <li><a href="{{ 'research' | absolute_url  }}" class="button special icon fa-magic">Research</a></li>
      </ul>
    </div>
    <span class="image object">
      <picture>
        <source data-srcset="assets/images/david_crashed.png" type="image/png" >
        <img src="assets/images/david_crashed.png" alt="For no reason." data-src="assets/images/david_crashed.png"  class="lazyload" />
        <figcaption>Credit: Spastic Mouse</figcaption>
      </picture>
      
    </span>
  </section>
